<%- include('../partials/header') %> <!-- Incluir el encabezado -->

    <main>

        <div class="container mt-4">
            <div class="row">
                <!-- Barra de Búsqueda -->
                <div class="col-md-9 mb-4">
                    <form class="d-flex" action="/images?" method="GET">
                        <input class="form-control me-2" type="text" name="tag" placeholder="Buscar imágenes..."
                            aria-label="Buscar" value="">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <!-- Barra Lateral -->
                <div class="col-md-3">
                    <div class="sidebar">
                        <h5>Etiquetas</h5>
                        <ul class="list-unstyled">
                            <form action="/images?" method="GET">
                                <% tags.forEach( (tag)=> { %>
                                    <!-- Al hacer clic en cada etiqueta, se pasa su valor como parámetro de búsqueda -->
                                    <li>
                                        <button type="submit" name="tag" value="<%- tag %>" class="btn btn-link"><%- tag
                                                %></button>
                                    </li>
                                    <% }); %>
                            </form>
                        </ul>
                    </div>
                </div>

                <!-- Galería de Imágenes -->
                <div class="col-md-9">
                    <div class="row">
                        <% images.forEach( (image)=> { %>
                            <!-- Card 1 -->
                            <div class="col-md-4 mb-2">
                                <a class="card" href="/images/<%= image.id %>">
                                    <img class="card-img-top" src="/uploads/<%= image.path %>" alt="Imagen" onError="this.onerror=null;this.src='default-image.jpg';">
                                </a>
                            </div>
                            <% }); %>
                    </div>

                    <!-- Paginación -->
                    <div class="d-flex justify-content-center my-4">
                        <!-- Botón para la página anterior -->
                        <% if (currentPage> 1) { %>
                            <a href="/images?page=<%= currentPage - 1 %>"
                                class="btn btn-outline-primary me-2">Anterior</a>
                            <% } %>

                                <!-- Botones de las páginas -->
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <a href="/images?page=<%= i %>" class="btn btn-outline-primary me-2">
                                        <%= i %>
                                    </a>
                                    <% } %>

                                        <!-- Botón para la siguiente página -->
                                        <% if (currentPage < totalPages) { %>
                                            <a href="/images?page=<%= currentPage + 1 %>"
                                                class="btn btn-outline-primary me-2">Siguiente</a>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <%- include('../partials/footer') %> <!-- Incluir el pie de página -->